@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #f5f5f5;
  height: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #0f1123;
}

body .wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "title" "form" "content";
}

@media screen and (min-width: 768px) {
  body .wrapper {
    -ms-grid-rows: 250px auto;
        grid-template-rows: 250px auto;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "title title" "form content";
  }
}

@media screen and (min-width: 1024px) {
  body .wrapper {
    width: 80%;
    height: 80%;
  }
}

body .wrapper .section-title-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  background: #4e3d53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 32px;
}

body .wrapper .section-title-wrapper .section-title {
  width: 280px;
  min-width: 280px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

body .wrapper .section-title-wrapper .section-title.small {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
}

body .wrapper .section-title-wrapper .section-title.small span {
  font-weight: 500;
}

body .wrapper .section-title-wrapper .section-title.big {
  font-size: 22px;
  letter-spacing: 0.25px;
  font-weight: 600;
  margin: 8px 0;
}

body .wrapper .section-title-wrapper .section-title.big {
  text-align: center;
}

body .wrapper .section-title-wrapper .section-title.small {
  text-align: center;
}

body .wrapper .section-title-wrapper .section-title.small span {
  display: block;
  font-size: 18px;
  margin: 6px auto;
}

@media screen and (min-width: 768px) {
  body .wrapper .section-title-wrapper .section-title {
    width: 80%;
  }
  body .wrapper .section-title-wrapper .section-title.big {
    padding-top: 0;
    font-size: 32px;
  }
  body .wrapper .section-title-wrapper .section-title.small {
    font-size: 18px;
  }
  body .wrapper .section-title-wrapper .section-title.small span {
    display: inline-block;
    font-size: 20px;
  }
}

body .wrapper .form-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: form;
  height: 100%;
  background: rgba(78, 61, 83, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px 20px;
}

body .wrapper .form-wrapper .form-title {
  width: 280px;
  min-width: 280px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

body .wrapper .form-wrapper .form-title.small {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
}

body .wrapper .form-wrapper .form-title.small span {
  font-weight: 500;
}

body .wrapper .form-wrapper .form-title.big {
  font-size: 22px;
  letter-spacing: 0.25px;
  font-weight: 600;
  margin: 8px 0;
}

body .wrapper .form-wrapper .form-description {
  min-width: 280px;
  width: 280px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 12px;
}

body .wrapper .form-wrapper .form-description span,
body .wrapper .form-wrapper .form-description .form-link {
  font-weight: 600;
}

body .wrapper .form-wrapper .form-description span {
  display: inline-block;
  margin-bottom: 6px;
}

body .wrapper .form-wrapper .form-description .form-link {
  text-decoration: none;
  color: #0f1123;
}

body .wrapper .form-wrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper .form-wrapper .form .login,
body .wrapper .form-wrapper .form .password {
  padding: 10px;
  margin-bottom: 16px;
  background: #f5f5f5;
  border: 1px solid #4e3d53;
  border-radius: 4px;
  min-width: 280px;
}

body .wrapper .form-wrapper .form .login::-webkit-input-placeholder,
body .wrapper .form-wrapper .form .password::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #a98b98;
}

body .wrapper .form-wrapper .form .login:-ms-input-placeholder,
body .wrapper .form-wrapper .form .password:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #a98b98;
}

body .wrapper .form-wrapper .form .login::-ms-input-placeholder,
body .wrapper .form-wrapper .form .password::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #a98b98;
}

body .wrapper .form-wrapper .form .login::placeholder,
body .wrapper .form-wrapper .form .password::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #a98b98;
}

body .wrapper .form-wrapper .login-button {
  padding: 10px;
  background: #a6f0c6;
  border: none;
  border-radius: 4px;
  min-width: 280px;
  color: #fafafa;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(15, 17, 35, 0.5);
  box-shadow: 2px 2px 5px 1px rgba(15, 17, 35, 0.5);
}

body .wrapper .form-wrapper .login-button:hover {
  background: #78d6aa;
}

@media screen and (min-width: 768px) {
  body .wrapper .form-wrapper {
    padding-top: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .wrapper .form-wrapper .form-title,
  body .wrapper .form-wrapper .form-description {
    min-width: 280px;
  }
  body .wrapper .form-wrapper .form .login,
  body .wrapper .form-wrapper .form .password {
    min-width: 280px;
  }
  body .wrapper .form-wrapper .login-button {
    min-width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  body .wrapper .form-wrapper .form-title,
  body .wrapper .form-wrapper .form-description {
    min-width: 320px;
  }
  body .wrapper .form-wrapper .form .login,
  body .wrapper .form-wrapper .form .password {
    min-width: 320px;
  }
  body .wrapper .form-wrapper .login-button {
    min-width: 320px;
  }
}

body .wrapper .datas {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content;
  background: #4e3d53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fafafa;
  padding: 32px 20px;
}

body .wrapper .datas .datas-title {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  margin: 20px 0;
  font-weight: 400;
  letter-spacing: 0.5px;
}

body .wrapper .datas .datas-wrapper {
  width: 100%;
  background: rgba(250, 250, 250, 0.95);
  border-radius: 12px;
  padding: 20px;
}

body .wrapper .datas .datas-wrapper .datas-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-left: 44px;
  margin-bottom: 24px;
}

body .wrapper .datas .datas-wrapper .datas-row:nth-of-type(5) {
  margin-bottom: 0;
}

body .wrapper .datas .datas-wrapper .datas-row:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 34px;
  height: 34px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(15, 17, 35, 0.5);
  box-shadow: 2px 2px 5px 1px rgba(15, 17, 35, 0.5);
}

body .wrapper .datas .datas-wrapper .datas-row.email:before {
  background: url(./images/mail-icon.svg);
  background-position: center;
  background-size: cover;
}

body .wrapper .datas .datas-wrapper .datas-row.password:before {
  background: url(./images/password-icon.svg);
  background-position: center;
  background-size: cover;
}

body .wrapper .datas .datas-wrapper .datas-row.source:before {
  background: url(./images/information-icon.svg);
  background-position: center;
  background-size: cover;
}

body .wrapper .datas .datas-wrapper .datas-row.date:before {
  background: url(./images/clock-icon.svg);
  background-position: center;
  background-size: cover;
}

body .wrapper .datas .datas-wrapper .datas-row-name, body .wrapper .datas .datas-wrapper .datas-row-value {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  color: #0f1123;
}

body .wrapper .datas .datas-wrapper .datas-row-name {
  min-width: 100px;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

body .wrapper .datas .datas-wrapper .datas-row-value {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

body .wrapper .datas .datas-wrapper .datas-row-value.leak {
  font-weight: 500;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  body .wrapper .datas .datas-wrapper {
    padding: 32px;
  }
  body .wrapper .datas .datas-wrapper .datas-row {
    padding-left: 60px;
  }
  body .wrapper .datas .datas-wrapper .datas-row:before {
    width: 46px;
    height: 46px;
  }
  body .wrapper .datas .datas-wrapper .datas-row-name, body .wrapper .datas .datas-wrapper .datas-row-value {
    color: #0f1123;
  }
  body .wrapper .datas .datas-wrapper .datas-row-name {
    font-size: 14px;
  }
  body .wrapper .datas .datas-wrapper .datas-row-value {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  body .wrapper .datas {
    padding-top: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */